# Virtual Environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Data & outputs
reports/
outputs/
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
.env